/** CSS written just to prove to myself I can still do it w/o needing a compiler **/

/** Reset provided by digitalocean.com & other various sources 
... I'm aware of the irony; I could have written it, but why? **/

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-weight: normal;
}

ul,
ol {
  padding: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  font-size: 17px;
  font-size: 1.7rem;
  line-height: 1.5;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Variables */
body {
  --theme-main: #13a895;
  --text-main: #292f2d;
  --heading-main: #0f5b46;
  --secondary-bg: #d5ede6;
  --text-secondary: #434b49;
  --text-tertiary: #9fafab;
  --top-border-url: url("https://res.cloudinary.com/calebmastersdev/image/upload/v1620834063/cmdev/teal-top_pss4on.svg");
  --bottom-border-url: url("https://res.cloudinary.com/calebmastersdev/image/upload/v1620834064/cmdev/teal-bottom_hora7l.svg");
}

/* Styles for layout */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: auto;
  color: var(--text-main);
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

section {
  width: 100%;
}

footer {
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 2rem;
}

footer p {
  align-self: center;
}

/* Typography */

h3,
h4 {
  font-family: "Montserrat";
  color: var(--heading-main);
}

h5 {
  color: var(--text-tertiary);
}

/* Global Styling */
section {
  padding: 2rem 1rem;
  margin: 0 0 2.5rem 0;
}

section > section {
  padding: 0;
}

article + article {
  margin-top: 1.5rem;
}

/* Hero */
.hero {
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  letter-spacing: 0.1rem;
}

.hero > div {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}

.hero h1 {
  font-family: "Montserrat";
  font-size: 5rem;
  line-height: 1;
  margin-bottom: 2.5rem;
}

.hero h1 span {
  background: -webkit-linear-gradient(
    45deg,
    var(--heading-main),
    var(--theme-main)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero h2 {
  font-size: 1.6rem;
  margin-bottom: 2.5rem;
}

.hero p {
  font-size: 1.5rem;
  display: block;
}

/* Portfolio  */

#portfolio {
  background-color: var(--secondary-bg);
  background-image: linear-gradient(
    0deg,
    var(--secondary-bg) 0%,
    var(--secondary-bg) 30%,
    var(--text-tertiary) 50%,
    var(--secondary-bg) 80%,
    var(--secondary-bg) 100%
  );
  position: relative;
}

#portfolio::before {
  content: "";
  position: absolute;
  display: block;
  top: -2.3rem;
  left: 0;
  right: 0;
  height: 2.7rem;
  background: var(--top-border-url) top center no-repeat;
  background-size: cover;
}

#portfolio::after {
  content: "";
  position: absolute;
  display: block;
  bottom: -2.3rem;
  left: 0;
  right: 0;
  height: 2.7rem;
  background: var(--bottom-border-url) bottom center no-repeat;
  background-size: cover;
}

#portfolio article {
  padding: 12rem 1rem 1rem;
  margin: 0 1rem 2rem;
  background: #fff;
  border: 1px solid var(--text-tertiary);
  border-radius: 0.3rem;
  position: relative;
  overflow: hidden;
}

#portfolio article:first-child {
  margin-top: 2rem;
}

#portfolio article:last-child {
  margin-bottom: 4rem;
}

#portfolio article::before {
  border-bottom: 1px solid var(--text-tertiary);
  position: absolute;
  top: 0;
  height: 10rem;
  left: 0;
  right: 0;
  display: block;
  content: "";
  background: no-repeat center center var(--background);
  background-size: cover;
}

#portfolio article h4 {
  color: var(--theme-main);
}

#portfolio article p {
  color: var(--text-secondary);
}

footer {
  background: var(--text-main);
  color: var(--text-tertiary);
  margin-top: -2.5rem;
  padding-top: 4.5rem;
}

@media screen and (min-width: 540px) {
  #portfolio section {
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
  }

  #portfolio article {
    flex: 1 1 calc(50% - 2rem);
  }

  #portfolio article:first-child {
    margin-top: 0;
  }
}
