/** CSS written just to prove to myself I can still do it w/o needing a compiler **/

/** Reset provided by digitalocean.com & other various sources 
... I'm aware of the irony; I could have written it, but why? **/

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-weight: normal;
}

ul,
ol {
  padding: 0;
}

/* montserrat-900 - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url("../fonts/montserrat-v15-latin-900.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/montserrat-v15-latin-900.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/montserrat-v15-latin-900.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/montserrat-v15-latin-900.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/montserrat-v15-latin-900.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/montserrat-v15-latin-900.svg#Montserrat") format("svg"); /* Legacy iOS */
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  font-size: 17px;
  font-size: 1.7rem;
  line-height: 1.5;
  font-display: optional;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

ol,
ul {
  list-style-type: none;
}

img {
  max-width: 100%;
  height: auto;
  border: none;
}

/* Variables */
body {
  --main-bg: #fff;
  --main-theme: #129fa8;
  --main-heading: #0f5b46;
  --main-subheading: #13a895;
  --main-text: #292f2d;
  --main-footer: var(--main-text);
  --main-footer-link: #aaacab;
  --main-footer-text: var(--alt-secondary-text);
  --secondary-bg: #d5ede6;
  --secondary-text: #434b49;
  --tertiary-bg: #ecf7f2;
  --tertiary-text: #555a59;
  --alt-main-bg: var(--main-text);
  --alt-secondary-bg: #334240;
  --alt-secondary-text: #9fcfc8;
}

/* Styles for layout */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: auto;
  color: var(--main-text);
  background: var(--main-bg);
}

nav {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  padding-top: 1rem;
}

nav img {
  max-height: 3rem;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 0;
}

nav .tech {
  font-size: 1rem;
  color: var(--main-footer-link);
  background: var(--secondary-text);
  justify-content: space-evenly;
  padding: 0.3rem 0;
}

nav .tech a {
  color: var(--tertiary-bg);
  text-decoration: none;
}

nav .tech a.active,
nav .tech a:hover {
  border-bottom: 1px dotted var(--main-bg);
}

nav ul:first-child a,
nav ul:first-child a:visited {
  font-family: "Montserrat";
  color: var(--main-text);
}

nav ul:first-child a.active,
nav ul:first-child a:hover {
  color: var(--main-theme);
  text-decoration: none;
}

section {
  width: 100%;
}

.container {
  position: relative;
  z-index: 5;
}

footer {
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 2rem;
  overflow: hidden;
}

footer * {
  position: relative;
  z-index: 5;
}

footer p {
  align-self: center;
}

/* Typography */
h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 2.8rem;
}

h3 {
  font-size: 2.2rem;
}

h4 {
  font-size: 1.7rem;
}

h2,
h3 {
  font-family: "Montserrat";
}

h4 {
  color: var(--tertiary-text);
}

h4 span {
  color: var(--main-heading);
  font-size: 1.5rem;
}

/* Global Styling */
section {
  padding: 6rem 1rem;
  margin: 0;
  position: relative;
}

article + article {
  margin-top: 1.5rem;
}

/* Hero */
.hero {
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  letter-spacing: 0.1rem;
}

.hero ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.hero h1 {
  font-family: "Montserrat";
  font-size: 5rem;
  line-height: 1;
  margin-bottom: 2.5rem;
}

.hero h1 span {
  display: block;
  background-image: linear-gradient(var(--main-theme), var(--main-subheading));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero .h2 {
  font-size: 1.2rem;
  margin-bottom: 2.5rem;
  color: var(--tertiary-text);
  text-transform: uppercase;
}

.hero li {
  font-family: "Montserrat";
  font-size: 1.4rem;
  display: block;
}

/* Recent Work  */
#recent-work {
  background: var(--main-bg);
  z-index: 2;
}

#recent-work:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 1%;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    165deg,
    var(--main-theme),
    var(--main-subheading)
  );
  transform: skewY(2deg);
  transform-origin: 0;
  overflow: hidden;
}

#recent-work h2 {
  color: var(--main-text);
  flex-basis: 100%;
  text-align: center;
  margin-bottom: 2rem;
  position: relative;
}

#recent-work:first-child a {
  margin-top: 2rem;
  flex-basis: 100%;
}

#recent-work article {
  padding: 12rem 1rem 1rem;
  margin: 0 1rem 2rem;
  background: var(--main-bg);
  border: 1px solid var(--tertiary-text);
  border-radius: 0.3rem;
  position: relative;
  overflow: hidden;
}

#recent-work article::before {
  border-bottom: 1px solid var(--tertiary-text);
  position: absolute;
  top: 0;
  height: 10rem;
  left: 0;
  right: 0;
  display: block;
  content: "";
  background: no-repeat center center var(--background);
  background-size: cover;
}

#recent-work article h3 {
  color: var(--main-heading);
  margin-bottom: 1rem;
}

#recent-work article p {
  color: var(--secondary-text);
  margin-top: 2rem;
  font-size: 1.5rem;
}

#recent-work a {
  text-decoration: none;
}

/* Skills */
#skills {
  background-color: var(--alt-secondary-bg);
  color: var(--alt-secondary-text);
}

#skills .container,
#resume .container {
  flex-direction: column;
  text-align: center;
}

#skills h2 {
  color: var(--main-theme);
}

/* Resume */

#resume {
  background-color: var(--tertiary-bg);
  color: var(--main-heading);
}

#resume::before,
#resume::after {
  background-color: var(--tertiary-bg);
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  transform: skewY(-3deg);
  transform-origin: 0;
  z-index: 4;
}

#resume::after {
  bottom: -2rem;
  top: unset;
  background-color: var(--main-footer);
  transform: skewY(1.5deg);
  height: 3rem;
}

#resume h2 {
  color: var(--main-heading);
}

/* Footer */
footer {
  position: relative;
  background: var(--main-footer);
  color: var(--main-footer-text);
  marign-top: 2rem;
  padding-top: 1rem;
}

@media screen and (min-width: 415px) {
  .container {
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
  }

  .hero ul {
    justify-content: center;
  }

  .hero li {
    font-size: 1.6rem;
  }

  .hero ul li {
    padding: 0 1rem;
  }

  #recent-work h2 + a {
    flex-basis: 100%;
  }

  #recent-work article:first-child {
    margin-top: 0;
  }

  #recent-work a {
    flex: 2 1 calc(50% - 2rem);
    display: flex;
  }

  #recent-work a:first-child {
    margin-top: 0;
    flex: 1 100%;
  }

  #recent-work article {
    align-self: stretch;
  }
}

@media screen and (min-width: 567px) {
  nav {
    flex-direction: column-reverse;
    padding-top: 0;
  }

  nav .tech {
    margin-bottom: 1rem;
    justify-content: flex-end;
  }

  nav .tech a {
    margin-right: 2rem;
  }

  section,
  footer {
    padding: 7rem 0;
    margin-bottom: 0;
  }

  .hero h1 {
    font-size: 6.5rem;
  }

  .hero .h2 {
    font-size: 1.4rem;
  }

  .hero li {
    font-size: 1.85rem;
  }

  #recent-work h2 + a {
    margin-top: 0;
    flex: 1 calc(50% - 1rem);
  }

  #recent-work .hide {
    display: none;
  }

  #resume {
    padding-bottom: 10rem;
  }

  #resume::after {
    bottom: -2rem;
    height: 5rem;
  }

  footer {
    margin-top: 2rem;
    padding-top: 4rem;
  }
}

@media screen and (min-width: 784px) {
  section {
    padding: 8rem 0;
  }

  #recent-work h2 {
    margin-bottom: 4rem;
  }

  #recent-work h2 + a,
  #recent-work a {
    flex: 1 calc(33% - 1rem);
  }
}

@media screen and (min-width: 905px) {
  .hide {
    display: none;
  }

  nav img {
    justify-self: flex-start;
  }

  section {
    padding: 10rem 0;
  }

  .hero {
    min-height: 60rem;
  }

  .hero ul {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  .hero h1 {
    font-size: 9rem;
  }

  .hero h1 span {
    display: inline;
  }

  .hero .h2 {
    font-size: 1.7rem;
    margin-bottom: 4.5rem;
  }

  .hero li {
    font-size: 2.4rem;
    max-width: unset;
  }

  .container {
    max-width: 1200px;
    margin: 0 auto;
  }

  #recent-work h2 {
    margin-bottom: 5rem;
  }

  #recent-work h2 + a,
  #recent-work a:nth-of-type(2) {
    flex: 1 50%;
  }

  #recent-work article {
    padding-top: 24rem;
  }

  #recent-work article:before {
    height: 20rem;
  }

  #recent-work article p {
    font-size: 1.7rem;
  }

  #resume {
    padding: 9rem 0 11rem;
  }

  footer {
    padding: 6rem 0;
  }
}

@media screen and (min-width: 970px) {
  h2 {
    font-size: 3.8rem;
  }

  h3 {
    font-size: 2.4rem;
  }

  #recent-work a:last-child {
    display: block;
    flex-basis: 33%;
  }
}

@media screen and (min-width: 1100px) {
  h2 {
    font-size: 5rem;
  }

  section {
    padding: 14rem 0;
  }

  #recent-work h2 + a {
    flex: 1 calc(56% - 1rem);
  }

  #recent-work a:nth-of-type(2) {
    flex: 1 calc(44% - 1rem);
  }

  #resume {
    padding: 13rem 0 15rem;
  }
}

@media screen and (min-width: 1640px) {
  section {
    padding: 18rem 0;
  }

  #resume {
    padding: 17rem 0 19rem;
  }

  footer {
    padding: 8rem 0;
  }
}
